﻿@{
    ViewData["Title"] = "Home Page";
}

<header class="py-5 bg-image-full" style="background-image: url('https://www.theagilityeffect.com/app/uploads/2019/09/00_VINCI-ICONOGRAPHIE_GettyImages-1065377816-1280x680.jpg');">
    <img class="img-fluid d-block mx-auto" src="https://www.codester.com/static/uploads/items/000/006/6147/icon.png" alt="">
</header>

<section class="py-5">
    <div class="container">
        <h1>Consultanta</h1>
        <p class="lead">Consultanta profesionala in domeniul constructiilor civile.</p>
        <p>Compania noastra ofera consultanta incepand cu arhitectura proiectului, alegerea materialelor, uneltelor si echipe specializate in anumite tipuri de constructii.</p>
    </div>
</section>


<div class="py-5 bg-image-full" style="background-image: url('https://www07.abb.com/images/librariesprovider113/smarter-home/smarterbuilding_header_1183x353.jpg?sfvrsn=9b99113_1');">

    <div style="height: 200px;"></div>
</div>

<section class="py-5">
    <div class="container">
        <h1>Echipa</h1>
        <p class="lead">Profesionisti cu experienta in domeniu</p>
        <p>Avem o echipa dinamica foarte bine pregatita gata sa raspunda oricarei provocari.</p>
    </div>
</section>
