﻿@model WorkflowManager.Models.Echipament

@{
    ViewData["Title"] = "Edit";
}

<h1>Echipament - Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nume" class="control-label"></label>
                <input asp-for="Nume" class="form-control" />
                <span asp-validation-for="Nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Detalii" class="control-label"></label>
                <input asp-for="Detalii" class="form-control" />
                <span asp-validation-for="Detalii" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pret" class="control-label"></label>
                <input asp-for="Pret" class="form-control" />
                <span asp-validation-for="Pret" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EchipaId" class="control-label"></label>
                <select asp-for="EchipaId" class="form-control" asp-items="ViewBag.EchipaId"></select>
                <span asp-validation-for="EchipaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
