﻿@model IEnumerable<WorkflowManager.Models.Proiectactiv>

@{
    ViewData["Title"] = "Proiecte Active";
}

<style>
 .addProject {
        margin-top: 30px;
        margin-bottom: 50px;
        margin-right: 20px;
        margin-left: 20px;
    }
</style>


<p class="addProject">
    @{ if (TempData["staffoccupationID"].ToString() == "1")
        {

        }
        else if (TempData["staffoccupationID"].ToString() == "2")
        {
            <a type="button" class="btn btn-outline-success" asp-action="Create"><i class="far fa-plus-square"></i>  Adauga</a>
        }
        else if (TempData["staffoccupationID"].ToString() == "3")
        {
            <a type="button" class="btn btn-outline-success" asp-action="Create"><i class="far fa-plus-square"></i>  Adauga</a>
        }
        else if (TempData["staffoccupationID"].ToString() == "4")
        {

        }
        else if (TempData["staffoccupationID"].ToString() == "0")
        {
        }
    }
</p>



<div class="row justify-content-center">
    <div class="col-auto">
        <table class="table table-striped table-responsive">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Start)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.End)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Client)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Echipa)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Proiect)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                       
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Start)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.End)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Client.Username)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Echipa.Nume)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Proiect.Nume)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status.Nume)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Details", new { id = item.ProiectId, idC = item.ClientId, idE = item.EchipaId, idS = item.StatusId})
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

