﻿@model IEnumerable<WorkflowManager.Models.Staff>

@{
    ViewData["Title"] = "Angajati";
}

<style>

    .avatar {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .addProject {
        margin-top: 30px;
        margin-bottom: 10px;
        margin-right: 20px;
        margin-left: 20px;
    }
</style>



<p class="addProject">
    @{ if (TempData["staffoccupationID"].ToString() == "1")
        {

        }
        else if (TempData["staffoccupationID"].ToString() == "2")
        {
            <a type="button" class="btn btn-outline-success" asp-action="Create"><i class="far fa-plus-square"></i>  Adauga</a>
        }
        else if (TempData["staffoccupationID"].ToString() == "3")
        {
        }
        else if (TempData["staffoccupationID"].ToString() == "4")
        {

        }
        else if (TempData["staffoccupationID"].ToString() == "0")
        {
        }
    }
</p>


<div class="row justify-content-center">
    <div class="col-auto">
        <table class="table table-striped table-responsive">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nume)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Prenume)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Adresa)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Telefon)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Avatar)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Echipa)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Functiestaff)
                    </th>
                    <th>
                       
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nume)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Prenume)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Adresa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telefon)
                        </td>
                        <td>

                            <img src="@Html.DisplayFor(modelItem => item.Avatar)" alt="Avatar" class="avatar">
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Echipa.Nume)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Functiestaff.Nume)
                        </td>
                        <td>
                            @{ if (TempData["staffoccupationID"].ToString() == "1")
                                {
                                    <a type="button" class="btn btn-outline-warning" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info"></i></a>
                                }
                                else if (TempData["staffoccupationID"].ToString() == "2")
                                {
                                    <a type="button" class="btn btn-outline-info" asp-action="Edit" asp-route-id="@item.Id"><i class="far fa-edit"></i></a>
                                    <a type="button" class="btn btn-outline-warning" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info"></i></a>
                                    <a type="button" class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i></a>
                                }
                                else if (TempData["staffoccupationID"].ToString() == "3")
                                {
                                    <a type="button" class="btn btn-outline-info" asp-action="Edit" asp-route-id="@item.Id"><i class="far fa-edit"></i></a>
                                    <a type="button" class="btn btn-outline-warning" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info"></i></a>
                                }
                                else if (TempData["staffoccupationID"].ToString() == "4")
                                {

                                }
                                else if (TempData["staffoccupationID"].ToString() == "0")
                                {

                                }
                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
