﻿<body>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-9 mx-auto">
                    <div class="card card-signin flex-row my-5">
                        <div class="card-img-left d-none d-md-flex">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">Login</h5>
                            <form class="form-signin" asp-action="Login">
                                <div class="form-label-group">
                                    <input type="text" id="inputUserame" class="form-control" placeholder="Username" name="Username" required autofocus>
                                    <label for="inputUserame">Username</label>
                                </div>
                                <div class="form-label-group">
                                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="Password" required>
                                    <label for="inputPassword">Password</label>
                                </div>
                                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Login</button>
                                <a class="d-block text-center mt-2 small" asp-area="" asp-controller="Clients" asp-action="Register">Nu ai cont?</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</body>
<link href="~/css/login.css" rel="stylesheet" />