﻿@model WorkflowManager.Models.Client

@{
    ViewData["Title"] = "Register";
}

    <body>
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-xl-9 mx-auto">
                        <div class="card card-signin flex-row my-5">
                            <div class="card-img-left d-none d-md-flex">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-center">Register</h5>
                                <form class="form-signin" asp-action="Register">
                                    <div class="form-label-group">
                                        <input type="text" id="inputUserame" class="form-control" placeholder="Username" required autofocus asp-for="Username">
                                        <label for="inputUserame">Username</label>
                                    </div>
                                    <div class="form-label-group">
                                        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required asp-for="Email">
                                        <label for="inputEmail">Email address</label>
                                    </div>
                                    <div class="form-label-group">
                                        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required asp-for="Password">
                                        <label for="inputPassword">Password</label>
                                    </div>
                                    <div class="form-label-group">
                                        <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Password" required name="confirmPassword">
                                        <label for="inputConfirmPassword">Confirm password</label>
                                    </div>
                                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
                                    <a class="d-block text-center mt-2 small" asp-area="" asp-controller="Clients" asp-action="Login">Ai deja cont?</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </body>
<link href="~/css/login.css" rel="stylesheet" />