﻿@model IEnumerable<WorkflowManager.Models.Proiect>

@{
    ViewData["Title"] = "Proiecte";
}


<style>
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        padding: 5px;
        margin: auto;
    }

    .card {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 20px;
        margin-left: 20px;
    }

    .addProject {
        margin-top: 30px;
        margin-bottom: 10px;
        margin-right: 20px;
        margin-left: 20px;
    }
</style>


<p class="addProject">
    @{ if (TempData["staffoccupationID"].ToString() == "1")
        {

        }
        else if (TempData["staffoccupationID"].ToString() == "2")
        {
            <a type="button" class="btn btn-outline-success" asp-action="Create"><i class="far fa-plus-square"></i>  Adauga</a>
        }
        else if (TempData["staffoccupationID"].ToString() == "3")
        {

        }
        else if (TempData["staffoccupationID"].ToString() == "4")
        {

        }
        else if (TempData["staffoccupationID"].ToString() == "0")
        {
        }
    }
</p>

<div class="flex-container">
    @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src=@Html.DisplayFor(modelItem => item.Avatar) alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nume)</h5>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Detalii)</p>
                <p class="card-text">Status : @Html.DisplayFor(modelItem => item.Status) Pret : @Html.DisplayFor(modelItem => item.Valoare)</p>
                <p class="card-text">Finantare : @Html.DisplayFor(modelItem => item.Finantare)</p>
                @{ if (TempData["staffoccupationID"].ToString() == "1")
                    {

                    }
                    else if (TempData["staffoccupationID"].ToString() == "2")
                    {
                        <a type="button" class="btn btn-outline-info" asp-action="Edit" asp-route-id="@item.Id"><i class="far fa-edit"></i></a>
                        <a type="button" class="btn btn-outline-warning" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info"></i></a>
                        <a type="button" class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i></a>
                    }
                    else if (TempData["staffoccupationID"].ToString() == "3")
                    {
                        <a type="button" class="btn btn-outline-warning" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info"></i></a>
                    }
                    else if (TempData["staffoccupationID"].ToString() == "4")
                    {
                        <a type="button" class="btn btn-outline-warning" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info"></i></a>
                    }
                    else if (TempData["staffoccupationID"].ToString() == "0")
                    {
                        <a type="button" class="btn btn-outline-warning" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info"></i></a>
                    }
                }
            </div>
        </div>
    }
</div>

