﻿@model WorkflowManager.Models.Functiestaff

@{
    ViewData["Title"] = "Edit";
}

<h1>Functii - Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nume" class="control-label"></label>
                <input asp-for="Nume" class="form-control" />
                <span asp-validation-for="Nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descriere" class="control-label"></label>
                <input asp-for="Descriere" class="form-control" />
                <span asp-validation-for="Descriere" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salariu" class="control-label"></label>
                <input asp-for="Salariu" class="form-control" />
                <span asp-validation-for="Salariu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bonus" class="control-label"></label>
                <input asp-for="Bonus" class="form-control" />
                <span asp-validation-for="Bonus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valoaretichet" class="control-label"></label>
                <input asp-for="Valoaretichet" class="form-control" />
                <span asp-validation-for="Valoaretichet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numartichet" class="control-label"></label>
                <input asp-for="Numartichet" class="form-control" />
                <span asp-validation-for="Numartichet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Inapoi</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
