﻿@model WorkflowManager.Models.Comandamateriale

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Comandamateriale</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Detalii)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Detalii)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantitate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantitate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pret)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pret)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Materiale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Materiale.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Staff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Staff.Password)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
