﻿@model IEnumerable<WorkflowManager.Models.Comandamateriale>

@{
    ViewData["Title"] = "Comenzi";
}



<style>
    .addProject {
        margin-top: 30px;
        margin-bottom: 10px;
        margin-right: 20px;
        margin-left: 20px;
    }
</style>


<p class="addProject">
    @{ if (TempData["staffoccupationID"].ToString() == "1")
        {

        }
        else if (TempData["staffoccupationID"].ToString() == "2")
        {
            <a type="button" class="btn btn-outline-success" asp-action="Create"><i class="far fa-plus-square"></i>  Adauga</a>
        }
        else if (TempData["staffoccupationID"].ToString() == "3")
        {
            <a type="button" class="btn btn-outline-success" asp-action="Create"><i class="far fa-plus-square"></i>  Adauga</a>
        }
        else if (TempData["staffoccupationID"].ToString() == "4")
        {

        }
        else if (TempData["staffoccupationID"].ToString() == "0")
        {
        }
    }
</p>

<div class="row justify-content-center">
    <div class="col-auto">
        <table class="table table-striped table-responsive">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CreateTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Detalii)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cantitate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Pret)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Materiale)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Staff)
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreateTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Detalii)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cantitate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Pret)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Materiale.Nume)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Staff.Nume)
                        </td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>